/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include <physical_layouts.dtsi>

 &physical_layout0 {
     kscan = <&kscan0>;
     transform = <&default_transform>;
 };
 

 &kscan0 {
     compatible = "zmk,kscan-gpio-direct";
     input-gpios
         = <&gpio1 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio1 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
         , <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
     ;
 };